* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #10002b;
    background-image: url(../img/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container-delete {
    background-color: rgba(255, 255, 255, 0.1);
    width: min(90%, 500px);
    margin: auto;
    margin-top: 10em;
    padding: 4em 2em;
    border-radius: 0.5em;
}
.header-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px dashed #10002b;
}
.header-delete h1 {
    color: #ffffff;
    font-size: 2em;
}
  .delete-message {
    color: #ffffff;
    margin: 2em 0;
}
  .delete-message strong {
    color: #cb202d;
}
  .delete-actions {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.btn-cancel {
    text-align: center;
    background-color: #10002b;
    color: #ffffff;
    border-radius: 0.5em;
    padding: 1em 2em;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s;
}
.btn-cancel:hover {
    background-color: #10002b;
}
.btn-delete {
    text-align: center;
    background-color: #10002b;
    color: #ffffff;
    border-radius: 0.5em;
    padding: 1em 3em;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s;
}
.btn-delete:hover {
    background-color: #a91923;
}